$main-background: #1a2639;
$secondary-background: #4d596c;
$background-text: white;
$details: #E37B2D;

$gris: #d9dad7;

$navbar-laptop-height: 70px;
$navbar-mobile-height: 80px;

/*HOME - GENERAL*/
#title-container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 1;
    overflow:hidden;
}

.title-img{
    width: 100%;
    margin: 0px;
    opacity: 0.3; /*plus home backg color helps darken img*/
    z-index: 1;
}

.title-text{
    position: absolute;
    color: $background-text;
}

.title{
    font-family: 'Antonio', sans-serif;
}


/*TITLE - MOBILE*/
@media (max-width: 426px){

    @media (max-width: 375px){
        .title{
            font-size: 1.5rem;
            letter-spacing: 5px;
            font-weight: bold;
            top: 25vh;
        }

        .intro{
            font-size: 0.8rem;
            font-weight: 500;
            top: 33vh;
        }

    }

    @media (min-width: 375px) and (max-width: 426px){
        .title{
            font-size: 1.5rem;
            letter-spacing: 8px;
            font-weight: bold;
            top: 20vh;
        }

        .intro{
            font-size: 1rem;
            font-weight: 500;
            top: 25vh;
        }
    
    }

}

/*TITLE - tablet*/
@media (min-width: 427px) and (max-width: 768px){

    @media (min-width: 427px) and (max-width:600px){
        .title{
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 10px;
            top: 25vh;
        }

        .intro{
            font-size: 1.5rem;
            font-weight: 500;
            top: 33vh;
        }

    }

    @media (min-width: 601px) and (max-width:768px){
        .title{
            width: 100%;
            padding-left: 18px;
            text-align: center;
            font-size: 3rem;
            font-weight: bolder;
            letter-spacing: 30px;
            top: 25vh;
        }

        .intro{
            font-size: 1.2rem;
            font-weight: 500;
            top: 33vh;
        }

    }

}

/*TITLE - LAPTOP*/
@media (min-width: 769px){

    @media (orientation: portrait){
        .title{
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 25px;
            top: 18vh;
        }
    
        .intro{
            font-size: 1.2rem;
            font-weight: 500;
            top: 25vh;
        }
        
    }    

    @media (orientation: landscape){
        .title{
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 25px;
            top: 20vh;
        }
    
        .intro{
            font-size: 1rem;
            font-weight: 500;
            top: 30vh;
        }
    
    } 

}

/*INFORMATION - GENERAL*/
#information{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem 2rem 1rem;
}

.info-container{
    width: 100%;
    height: auto;
    background-color: $background-text;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}

.text-container{
    text-align: left;
}

h2{
    color: $main-background;
    font-weight: 700;
    text-align: center;
}

.divition{
    background-color: $secondary-background;
    height: 1px;
    margin-bottom: 0.7rem;
}

/*INFORMATION - MOBILE*/
@media (max-width: 420px) {
    .info-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .text-container{
        border-radius: 20px;
    }
    
    .info-img{
        display: none;
    }
}
