$azul: #1a2639;
$gris: #d9dad7;
$cafe: #c24d2c;
$navbar-laptop-height: 70px;
$navbar-mobile-height: 80px;

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    /*padding-top: ;*/
}

#header{
    width: 100%;
    background-color: $azul;
    position: fixed; /*navbar always on top*/
    top: 0;
}

#navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    margin-left: 1.5rem;
}

/*NAVBAR - DESKTOP*/
@media (min-width: 1024px) and (max-width: 1440px){

    body{
        padding-top: $navbar-laptop-height; /*avoids overlapping navbar with other sections == header*/
    }

    #header{
        height: $navbar-laptop-height;
    }

    #logo{
        width: 50px;
        height: 50px;
    }

    .nav-mobile{
        display: none; /*hide dropdown*/
    }

    #nav-laptop{
        display: inline; /*show navbar*/
        height: 100%;
        width: 100%;
    }

    #nav-laptop > ul{
        width: 100%;
        height: 100%; /*occupy full nav laptop to center vertially li text*/
        display: flex;
        flex-direction: row; /*makes ul horizontal list*/
        align-items: center;
        justify-content: right; /*ul always @ right side*/
    }

    #nav-laptop > ul > li{
        list-style: none;
        margin-right: 2rem; /*assure margin with right border and gap between li*/
    }

    #nav-laptop > ul > li > a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .nav-link:link, .nav-link:hover, .nav-link:active{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    
}

/*NAVBAR - MOBILE & TABLET*/
@media (max-width: 1023px){
    body{
        padding-top: $navbar-mobile-height; /*avoids overlapping navbar with other sections == header*/
    }

    #header{
        height: $navbar-mobile-height;
        z-index: 10;
    }

    #logo{
        width: 50px;
        height: 50px;
    }

    #nav-laptop{
        display: none; /*hide navbar*/
    }

    .nav-mobile{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .dropdown-toggle:after {
        display: none; /*remove donwards icon in dropdown menu*/
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
        background-color: $azul; /*change primary color*/
        border: none;
        margin-right: 1.5rem;
        font-size: 20px;
    }
      
    i{
        color: white;
    }

    .dropdown-menu{
        width: 100vw;
        padding: 0;
        margin-top: 18px; /*avoid dropdown from overlapping navbar*/
        margin-right: -5px;
        border: none;
        border-top: solid $cafe;
        border-radius: 0px; /*avoids top border to seem shorter in width*/
        z-index: 10;
    }

    .dropdown-divider{
        margin: 0;
        height: 1px;
        border: solid thin $gris;
    }

    .dropdown-menu > li{
        width: 100%;
        height: 11vh;
        margin-left: auto;
        background-color: $azul;
        color: white;
        border: thin white;
    }

    .dropdown-menu > li > a{
        width: 100%;
        height: 100%;
        display: flex; /*centers menu items*/
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active{
        background-color: #4d596c;
    }
}

/*HOME - GENERAL*/
#home{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

#home-img{
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: cover;
    opacity: 0.8; /*plus home backg color helps darken img*/
}

.home-text{
    position: absolute;
    color: white;
}

.home-button{
    color: white;
    background-color: $azul;
}

/*HOME - MOBILE*/
@media (max-width: 426px){
    #home{
        height: calc(100vh - $navbar-mobile-height); /*full vp - navbar*/
    }

    .title{
        font-size: 3rem;
        font-weight: 900;
        top: 40vh;
    }

    .intro{
        font-size: 1.2rem;
        font-weight: 500;
        top: 50vh;
    }

    .home-button, .home-button:visited{
        position: absolute;
        top: 58vh;
        padding: 10px 20px 10px 20px;
        font-size: 1.2rem;
        opacity: 0.9;
    }

    .home-button:hover , .home-button:active{
        background-color: $azul;
        color: white;
        opacity: 1;
        transition: all 0.7s;
    }

}

/*HOME - tablet*/
@media (min-width: 427px) and (max-width: 1023px){
    #home{
        height: calc(100vh - $navbar-mobile-height); /*full vp - navbar*/
    }

    .title{
        font-size: 5rem;
        font-weight: 900;
        top: 38vh;
    }

    .intro{
        font-size: 2rem;
        font-weight: 500;
        top: 50vh;
    }

    .home-button, .home-button:active, .home-button:visited{
        position: absolute;
        top: 58vh;
        padding: 10px 20px 10px 20px;
        font-size: 2rem;
        opacity: 0.9;
    }

    .home-button:hover , .home-button:active{
        background-color: $azul;
        color: white;
        opacity: 1;
        transition: all 0.7s;
    }

}

/*HOME - LAPTOP*/
@media (min-width: 1024px){
    #home{
        height: calc(100vh - $navbar-laptop-height); /*full vp - navbar*/
    }

    .title{
        font-size: 5rem;
        font-weight: 900;
        top: 38vh;
    }

    .intro{
        font-size: 2rem;
        font-weight: 500;
        top: 50vh;
    }

    .home-button, .home-button:active, .home-button:visited{
        position: absolute;
        top: 58vh;
        padding: 10px 20px 10px 20px;
        font-size: 2rem;
        opacity: 0.9;
    }    

    .home-button:hover , .home-button:active{
        background-color: $azul;
        color: white;
        opacity: 1;
        transition: all 0.7s;
    }

}
