html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

#header {
  width: 100%;
  background-color: #1a2639;
  position: fixed; /*navbar always on top*/
  top: 0;
}

#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  margin-left: 1.5rem;
}

/*NAVBAR - DESKTOP*/
@media (min-width: 1024px) and (max-width: 1440px) {
  body {
    padding-top: 70px; /*avoids overlapping navbar with other sections == header*/
  }
  #header {
    height: 70px;
    z-index: 10;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  .nav-mobile {
    display: none; /*hide dropdown*/
  }
  #nav-laptop {
    display: inline; /*show navbar*/
    height: 100%;
    width: 100%;
  }
  #nav-laptop > ul {
    width: 100%;
    height: 100%; /*occupy full nav laptop to center vertially li text*/
    display: flex;
    flex-direction: row; /*makes ul horizontal list*/
    align-items: center;
    justify-content: right; /*ul always @ right side*/
  }
  #nav-laptop > ul > li {
    list-style: none;
    margin-right: 2rem; /*assure margin with right border and gap between li*/
  }
  #nav-laptop > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .nav-link:link, .nav-link:hover, .nav-link:active {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
}
/*NAVBAR - MOBILE & TABLET*/
@media (max-width: 1023px) {
  body {
    padding-top: 80px; /*avoids overlapping navbar with other sections == header*/
  }
  #header {
    height: 80px;
    z-index: 10;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  #nav-laptop {
    display: none; /*hide navbar*/
  }
  .nav-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .dropdown-toggle:after {
    display: none; /*remove donwards icon in dropdown menu*/
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #1a2639; /*change primary color*/
    border: none;
    margin-right: 1.5rem;
    font-size: 20px;
  }
  i {
    color: white;
  }
  .dropdown-menu {
    width: 100vw;
    padding: 0;
    margin-top: 18px; /*avoid dropdown from overlapping navbar*/
    margin-right: -5px;
    border: none;
    border-top: solid #E37B2D;
    border-radius: 0px; /*avoids top border to seem shorter in width*/
    z-index: 10;
  }
  .dropdown-divider {
    margin: 0;
    height: 1px;
    border: solid thin #d9dad7;
  }
  .dropdown-menu > li {
    width: 100%;
    height: 11vh;
    margin-left: auto;
    background-color: #1a2639;
    color: white;
    border: thin white;
  }
  .dropdown-menu > li > a {
    width: 100%;
    height: 100%;
    display: flex; /*centers menu items*/
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Antonio", sans-serif;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
    background-color: #4d596c;
  }
}
/*HOME - GENERAL*/
#home {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

#home-img {
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
  opacity: 0.8; /*plus home backg color helps darken img*/
}

.home-text {
  position: absolute;
  color: white;
}

.title {
  font-family: "Antonio", sans-serif;
}

.home-button {
  color: white;
  background-color: #1a2639;
}

/*HOME - MOBILE*/
@media (max-width: 426px) {
  #home {
    height: calc(100vh - 80px); /*full vp - navbar*/
  }
}
@media (max-width: 426px) and (max-width: 374px) {
  .title {
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: bold;
    top: 40vh;
  }
}
@media (max-width: 426px) and (min-width: 375px) and (max-width: 424px) {
  .title {
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: bold;
    top: 39vh;
  }
}
@media (max-width: 426px) and (min-width: 425px) and (max-width: 767px) {
  .title {
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: bold;
    top: 39vh;
  }
}
@media (max-width: 426px) {
  .intro {
    font-size: 1.2rem;
    font-weight: 500;
    top: 50vh;
  }
}
@media (max-width: 426px) {
  .home-button, .home-button:visited {
    position: absolute;
    top: 58vh;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    opacity: 0.9;
  }
}
@media (max-width: 426px) {
  .home-button:hover, .home-button:active {
    background-color: #1a2639;
    color: white;
    opacity: 1;
    transition: all 0.7s;
  }
}
/*HOME - tablet*/
@media (min-width: 427px) and (max-width: 1023px) {
  #home {
    height: calc(100vh - 80px); /*full vp - navbar*/
  }
  .title {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 30px;
    top: 37vh;
  }
  .intro {
    font-size: 2rem;
    font-weight: 500;
    top: 50vh;
  }
  .home-button, .home-button:active, .home-button:visited {
    position: absolute;
    top: 58vh;
    padding: 10px 20px 10px 20px;
    font-size: 2rem;
    opacity: 0.9;
  }
  .home-button:hover, .home-button:active {
    background-color: #1a2639;
    color: white;
    opacity: 1;
    transition: all 0.7s;
  }
}
/*HOME - LAPTOP*/
@media (min-width: 1024px) {
  #home {
    height: calc(100vh - 70px); /*full vp - navbar*/
  }
  .title {
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 25px;
    top: 32vh;
  }
  .intro {
    font-size: 2rem;
    font-weight: 500;
    top: 50vh;
  }
  .home-button, .home-button:active, .home-button:visited {
    position: absolute;
    top: 58vh;
    padding: 10px 20px 10px 20px;
    font-size: 2rem;
    opacity: 0.9;
  }
  .home-button:hover, .home-button:active {
    background-color: #1a2639;
    color: white;
    opacity: 1;
    transition: all 0.7s;
  }
}
/*FOOTER - GENERAL*/
footer {
  width: 100%;
  height: auto;
  background-color: #1a2639;
}

.footer-header {
  color: white;
  font-weight: 600;
}

.footer-text {
  color: white;
}

.footer-subheader {
  font-weight: 700;
  color: #E37B2D;
}

/*FOOTER - MOBILE*/
@media (max-width: 426px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
  #horario, #ubicacion, #contacto {
    width: 80%;
    height: auto;
    margin: 3rem auto 3rem auto;
  }
  .footer-header {
    font-size: 2.5rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    text-align: center;
  }
  .footer-subheader {
    font-size: 1.6rem;
    color: #E37B2D;
  }
  .footer-text {
    font-size: 1.5rem;
  }
  #map-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  #socials-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .i-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .i-container > a > i {
    font-size: 3rem;
  }
  .i-container > a > i:active {
    color: #E37B2D;
  }
}
/*FOOTER - tablet*//*# sourceMappingURL=home.css.map */